@accent_color: #ABF4C3;
@light_color: #FFF8E7;
@dark_color: #382E1E;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
div{
 -webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box;    
 box-sizing: border-box;      
}
body{
    margin: 0;
    width: 100%;
    background-color: @dark_color;
    color: @light_color;
    font-family: 'Josefin Sans', sans-serif;
    line-height: normal;
}
.title{
    color: @accent_color;
    font-size: 48px;    
}
.text{
    color: @light_color;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.small-title{
    color: @accent_color;
    font-size: 24px;
}
.big-title{
    text-align: center;
    color: @light_color;
    font-size: 48px;
}
.header{
    padding: 7%;
    padding-top: 2%;
        .logo{
            display: inline-block;
            filter: invert(91%) sepia(20%) saturate(574%) hue-rotate(73deg) brightness(99%) contrast(94%);
            img{
                height: 80px;
                width: 80px;
            }
            font-size: 24px;
            text-align: center;
            color: black;
            font-weight: 300;

        }
        .head{
            text-align: right;
            display: inline-block;
            width: 85%;
            float: right;
            .address{
                color: @light_color;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                padding-top: 2%;
                

            }
            .menu{
                margin-top: 2%;
                color: @accent_color;
                font-size: 32px;
                display: flex;
                justify-content: space-between;
                a{
                    color: @accent_color;
                    text-decoration: none;
                    
                }
            }
        }
}
.mobmenu{
    padding: 7%;
    padding-top: 3%;
    padding-bottom: 0%;
    display:none;
    .logo{
            display: inline-block;
            filter: invert(91%) sepia(20%) saturate(574%) hue-rotate(73deg) brightness(99%) contrast(94%);
            img{
                height: 50px;
                width: 50px;
            }
            font-size: 16px;
            text-align: center;
            color: black;
            font-weight: 300;

        }
}
.burger-menu{
    display: none;
    cursor: pointer;
    background-color: @dark_color;
    padding-left: 7%;
    padding-top: 3%;
    z-index: 139;
    
            
    }
    .burger-menu div {
        width: 35px;
        height: 3px;
        background-color: @accent_color;
        margin: 6px 0;
        transition: 0.4s;
        
    }
    .open .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .open .bar2 {
      opacity: 0;
    }

    .open .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
    }
    .open .mobile-menu {
        margin-top: 10%;
        z-index: 139;
        
        height: 100%;
        width:100%;
        background-color: @dark_color;
        line-height: 2.0em;
        list-style: none;
        a{
            text-decoration: none;
            color: @light_color;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
footer{
    padding: 7%;
    margin-top: 7%;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 1.5px solid @light_color;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:0;
    width: 100%;
    .text{
        font-weight: 300;
        text-align: left;
    }
    .contacts{
        display: inline-block;
        vertical-align: top;
        width: 19%;
    }
}

@media(max-width: 1300px){
    .header{
        .head{
            .address{
                font-size: 18px;
            }
            .menu{
                font-size: 24px;
            }
        }
    }
    .title{
        font-size: 36px;    
    }
    .text{
        font-size: 18px;
    }
    .small-title{
        font-size: 18px;
    }
    .big-title{
        font-size: 36px;
    }
}

@media(max-width: 1250px){
    footer{
        .contacts{
            margin-right: 12%;
            
        }
    }
}
@media(max-width: 1000px){
    .header{
        .logo{
            font-size: 18px;
            img{
                height: 60px;
                width: 60px;
            }
        }
        .head{
            .address{
                font-size: 16px;
            }
            .menu{
                font-size: 20px;
            }
        }
    }
    .title{
        font-size: 30px;    
    }
    .text{
        font-size: 14px;
    }
    .small-title{
        font-size: 14px;
    }
    .big-title{
        font-size: 30px;
    }
}
@media(max-width: 800px){
    .text{
        font-size: 14px;
    }
}
@media(max-width: 700px){
    .header{
        .logo{
            font-size: 14px;
            img{
                height: 50px;
                width: 50px;
            }
        }
        .head{
            .address{
                font-size: 12px;
            }
            .menu{
                font-size: 16px;
            }
        }
    }
    .title{
        font-size: 24px;    
    }
    .text{
        font-size: 12px;
    }
    .small-title{
        font-size: 12px;
    }
    .big-title{
        font-size: 24px;
    }
}
@media(max-width: 535px){
    #main{
        .header{
            display: none;
        }
    }
    
    .title{
        font-size: 20px;    
    }
    .text{
        font-size: 13px;
        font-weight: 400;
    }
    .small-title{
        font-size: 14px;
    }
    .big-title{
        margin: 0;
        font-size: 20px;
    }
    footer{
        .text{
            font-size: 8px;
            font-weight: 300;
        }
        .small-title{
            font-size: 10px;
        }
        .contacts{
            width: 24%;
            margin-right: 8%;
        }
    }
    .mobmenu {
            display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
    .burger-menu{
        display:block;
    }
}